{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "embeddedLanguageFormatting": "auto",
  "printWidth": 130,
  "eexMultilineLineLength": 100,
  "eexMultilineNoParens": [
    "link",
    "form_for"
  ],
  "plugins": [
    "prettier-plugin-eex"
  ]
}
